*.apk
*.ap_
*.dex
*.class
*.so
bin/
gen/
obj/
jni/.cproject
jni/.project
jni/.DS_Store
assets/
Debug/
Release/
proguard.cfg
local.properties
proguard-project.txt
.project
.classpath
.externalToolBuilders
.DS_Store
.settings/
*~
